.container1{
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; /*centers items on the line (the x-axis by default)*/
    align-items: center; /*centers items on the cross-axis (y by default)*/
}

.container{
    width: 650px;
    padding: 50px;
    background-color: #eeeeee;

}

.item{
    width: 500px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    background-color: #eeeeee;
}

.button{
    width: 500px;
    margin-left: 10px;
}

.tabItem{
    width: 500px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    background-color: #eeeeee;
}