
.vertical-center {
   
 

    vertical-align: middle;
    display: flex;
    align-items: center;
    width:40%;
    height: auto;
    
  }
  .jumbotron {
      height:50%;
      background-color: #eeeeee;
  }

  .text-center{
      background-color: #eeeeee;
  }
  .cont1{
      background-color: #eeeeee;
  }

  #cont{
    background-color: #eeeeee;
  }

  h5{
      color:#424242;
  }

  table{
      background-color:black;
      color:#424242;
  }

  